
h5 {
    text-align: center;
}

.container {
  margin: 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0 2rem;

  grid-template-areas:
    "left right";
}


.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

/* 📱 Stack on small screens */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "left"
      "right";
  }
}

.sectionTitle {
    margin-left: 1rem ;
}

.title {
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
}
.table {
  width: auto;
  border-collapse: collapse;
  
}

.tableBordered td,
.tableBordered th {
  border: 1px solid black;
  padding: 0.3rem;
  font-size: small;
}

.tableBordered th {
    font-weight: bold;
} 

.tableStriped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.greyBackground {
    background-color: #ccc;
}
.compiledBy {
    width: 10rem
}