.reportLayout {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    padding: 15px 15px;

    .reportHeader {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 15px;

        .reportTitle {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .reportFilters {
            display: flex;
            flex-direction: column;
            width: 100%;
            row-gap: 5px;
        }
    }
}

.reportContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 30px;
}


.sectionHeader {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.mainTitleBox {
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.formCodeBox {
    text-align: right;
    font-size: 9px;
    width: 25%;
}

.darkBorder{
    border: 1px solid #000;
    padding: 4px;
    text-align: left;
}

.bgGrey {
    background-color: #e0e0e0;
}

.sectionHeader {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.subHeader {
    font-weight: bold;
}

.topMeta{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.topMeta td {
    border: none;
    padding: 2px;
}

.signOff {
    margin-top: 20px;
    width: 100%;
}

.indent {
    padding-left: 20px;
}

.mainTitle {
    margin: 0;
}

.subTitle {
    margin: 5px 0;
}

.dataElement {
    width: 40%;
}

.otherElement {
    width: 20%;
    text-align: center;
}